{% extends 'base.html' %}
{% block content %}

    <center><h2 class="" style="color: blue;">Checkout <span style="color: rgb(255, 89, 0);">our Products</span>!</h2></center>
    <hr>
    <div class="row">
    {% for product in products %}
		<div class="col-lg-4 mb-3">
			<img class="thumbnail" src="{{product.image}}">
			<div class="box-element product">
				<h6><strong>{{ product.name }}</strong></h6>
				<hr>
				<button  class="btn btn-danger add-btn">Add to Cart</button>
				<a class="btn btn-outline-warning btn-default" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong> Kshs {{ product.price|floatformat:2}}</strong></h4>
			</div>
		</div>
        {% endfor %}
	</div>
{% endblock content %}